*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #FAF8EF;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 460px;
    height: 460px;
    background-color:#bbada0;
    padding: 15px;
    border-radius: 6px;
}

.grid .block{
   width: 100px;
   height: 100px;
   margin-left: 10px;

}
.row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.grid .block:first-child{
    margin-left: 0;
}
.grid .row:first-child{
    margin-top: 0;
}
.cell{
    background: #fff;
    width: 100%;
    height: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

.header2048{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.content, .board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.board{
    justify-content: space-between;
    align-items: end;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.board > div{
    width: 100%;
}
.content div{
    width: 100%;
    color: #776E65;
}
.content div:first-child{
    font-size: 80px;
    font-weight: bold;

} 
.content div:last-child{
    font-size: 18px;
}
.score-board{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}
.score-board > div{
    background: #BBADA0;
    color: #fff;
    padding: 5px 15px 15px 15px;
    width: 100px;
    font-size: 23px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    height: 50px;
}
.score-board > div div:first-child{
 font-size: 14px;
 color: #EEE4DA;
}
.board-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
div.new-game{
    text-align: center;
    cursor:  pointer;
    background-color: #b19274;
    color: #fff;
    line-height: 50px;
    width : 150px;
    height : 50px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
}

.end{
    position: absolute;
    width : 100%;
    height : 100%;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.menu{
    width: 400px;
    height: 200px;
    background: #fff;
    border-radius: 5px; 
    box-shadow: 5px 1px 18px 5px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.point{
    font-size: 24px;
    color: #000;

}
.restart{
    display: block;
    font-size: 24px;
    background-color: #b19274;
    color: #fff;
    text-align: center;
    padding: 10px 60px;
    text-decoration: none;
    border-radius: 4px;
}